@import url(base.css);
.face{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #eeeeee;
}
.face_img{
    position: relative;
    width:5.35rem;
    height: 3.75rem;
    margin:4.66rem auto;
}
img{
    display: block;
    width:100%;
}
.face_img p{
    position:absolute;
    bottom:1.46rem;
    width:5.35rem;
    font-size:0.24rem;
    color:#a3a3a3;
    line-height:0.3rem;
    text-align:center;
}
.face_img .btn_left{
    display: block;
    position:absolute;
    left:1.3rem;
    top:2.2rem;
    width:2.75rem;
    height: 0.7rem;
    background-image:-webkit-linear-gradient(left,#40d511,#ece42e);
    margin:0.25rem auto;
    border-radius:0.35rem;
    font-size:0.24rem;
    color:rgba(255,255,255,0.6);
    line-height: 0.7rem;
    text-align:center;
    float:left;
}